* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    background: url(images/musicfestival.jpg);
    background-size: cover;
    background-position: center;
    min-height: 1000px;
    /* border: turquoise 1px solid; */
}

@media screen and (max-width: 670px){
    header {
        min-height: 500px;
    }
}