* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Special Elite', cursive; */
}

header {
    background-image: url(../images/musicfestival.jpg);
    background-color: #cccccc;
    min-height: 700px;
    background-size: cover;
    background-position: center;
}

@media screen and (max-width: 670px){
    header {
        min-height: 500px;
    }
}

.datepicker-date-display {
    background-color: #ff8f00;
}
.datepicker-table td.is-today {
    color:#ff8f00;
}

.datepicker-table td.is-selected {
    background-color: #ff8f00;
    color: white;
}

button.month-prev:hover{
    background-color: #ff8f00;
}
button.month-next:hover{
    background-color: #ff8f00;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #ff8f00;
}

.dropdown-content li>span {
    font-size: 16px;
    color:#ff8f00;
    display: block;
    line-height: 22px;
    padding: 14px 16px;
}

.input-field .prefix.active {
    color: black;
    border-bottom-color: black;
    box-shadow: none
}

input#date.datepicker {
    color: black;
    border-bottom-color: black;
    box-shadow: none
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
    color: black;
}

input#city-name.form-input {
    border-bottom-color: black;
    box-shadow: none
}

/* .parallax-container {
    min-height: 200px;
    line-height: 0;
    height: auto;
    color: rgba(255,255,255,.9);
}

@media screen and (max-width: 670px){
    .parallax-container {
        min-height: 500px;
    }
} */

.results {
    overflow-y: scroll;
}

.page-footer {
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}