* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../images/musicfestival.jpg);
    background-color: #cccccc;
    min-height: 850px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 670px){
    header {
        min-height: 500px;
    }
}

/* nav .brand-logo {
    display: flex;
} */

input#city-name.form-input {
    border-bottom-color: black;
    box-shadow: black;
}

.results {
    overflow-y: scroll;
}
